<br>
<br>

<button (click)="connecter()">connected {{connected}}</button>
<br>
<div>
  <mat-table [dataSource]="myQuotesDataSource">
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="bid">
      <mat-header-cell *matHeaderCellDef> Bid</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.bid}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ask">
      <mat-header-cell *matHeaderCellDef> ask</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ask}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> price</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef> timestamp</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.timestamp | date }}</mat-cell>
    </ng-container>
    <mat-header-row  *matHeaderRowDef="displayedColumns"> </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  </mat-table>
</div>
